body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#certificateForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}


#list {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ac9f9f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Style for the buttons container
.button-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px;
}


.button-container button {
    
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #2980b9;
} */

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
    align-items: center;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
#certificateOutput {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #3498db;
}


h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
}

/* Styles for the modal */
#certificateModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

/* Close button styles */
#closeButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}